* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    width: 90%;
    margin: auto;
}

.main {
    height: 100px;
    background-color: violet;
    margin: 20px 0px;
}

.parte-sopra {
    height: 450px;
    background-color: yellowgreen;
    margin: 20px 0px;
}

.parte-sotto {
    height: 600px;
    background-color: blue;
    margin-bottom: 10px;
}


.barra, .colonna-dx, .colonna-cx, .colonna-sx {
    background-color: cornflowerblue;
}

.barra {
    height: 50px;
}

.colonna-dx, .colonna-cx, .colonna-sx {
    height: 530px;
    float: left;
}
.colonna-dx, .colonna-sx {
    width: calc(25%);
    margin-top: 10px;
}

.colonna-cx {
    width: calc(50% - 20px);
    margin: 10px;
}

.footer {
    height: 80px;
    background-color: rgb(207, 148, 207);
    margin-bottom: 20px;
}