* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    width: 90%;
    margin: auto;
}

.main {
    height: 100px;
    background-color: violet;
}

.parte-sopra {
    height: 450px;
    background-color: yellowgreen;
}

.quello-sotto {
    height: 500px;
    background-color: blue;
}

.barra, .colonna-dx, .colonna-cx, .colonna-sx {
    background-color: cornflowerblue;
}

.barra {
    height: 50px;
}

.colonna-dx, .colonna-cx, .colonna-sx {
    height: 430px;
    float: left;
}
.colonna-dx, .colonna-sx {
    width: calc(25%);
    margin-top: 10px;
}

.colonna-cx {
    width: calc(50% - 20px);
    margin: 10px;
}